body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#0f2027, #000);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  text-align: center;
}

h1 {
  color: #00f2ff;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 220px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background: #00f2ff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00f2ff;
}

.logout {
  background: red;
  color: white;
}
