body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, #0f2027, #000);
  font-family: 'Orbitron', sans-serif;
  color: #00f2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #ff5ccf;
  text-shadow: 0 0 25px #ff5ccf;
}

.subtitle {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #00f2ff;
  text-shadow: 0 0 12px #00f2ff;
}

.menu {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

/* NORMAL BUTTONS */
.menu button {
  background: black;
  border: 2px solid #00f2ff;
  color: #00f2ff;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  box-shadow: 0 0 12px #00f2ff;
}

.menu button:hover {
  background: #00f2ff;
  color: black;
  box-shadow: 0 0 25px #00f2ff;
}

/* LOGOUT BUTTON */
.logout {
  border: 2px solid red;
  color: #eb4437;
  box-shadow: 0 0 12px red;
}

.logout:hover {
  background: red;
  color: black;
  box-shadow: 0 0 25px red;
}

/* MUSIC BUTTON */
.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #00f2ff;
  background: black;
  color: #00f2ff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 15px #00f2ff;
}

.music-btn:hover {
  background: #00f2ff;
  color: black;
}
