body {
  background: #0b0b0b;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}

input, textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
  background: #111;
  color: white;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  background: #00f2ff;
  border: none;
  cursor: pointer;
  margin: 5px;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}